<!-- Display the contact form -->
<form action="/subscribe" method="post">
    <label for="name">Name</label>
    <input type="text" name="name" id="name_input">
    <label for="email">Email</label>
    <input type="email" name="email" id="email_input">
    <label for="zipCode">Zip Code</label>
    <input type="text" name="zipCode" id="zip_input" pattern="[0-9]{5}">
    <input type="submit" name="submit">
</form>