<!-- Display a thak-you message upon form submission -->
<div class="thanks-container">
    <h1>Thank You!</h1>
    <p>Your subscription has been received.</p>
    <a href="/">Return to Home</a>
</div>